h3{
  Color:black;
  }


flexcontainer{
  Display: Flex
  align-item:center
}

nav{
  Backgroudcoulor: rgb(128, 128, 128);
  border: 1px solid rgb(14, 38, 172);     
  border-radius: 0.05rem;}


Ul {
    flex: 1 auto;
    margin: 5px;
    font-size: 18px;
    line-height: 1.5;
}
