h3{
  Color:black;
  }

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav {
    background-color:white;
    border-radius: 0.05rem;
    margin: 0.1rem;
    font-size: 24pt;
}


ul {
    border: 1px solid #000;
    height: 50px;
}
